<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/styles/styles.css">
    <link rel="stylesheet" type="text/css" href="/public/styles/partials/page-about.css">
    <link rel="stylesheet" type="text/css" href="/public/styles/partials/header.css">
    <title>Weeber || Sua plataforma de atividades online</title>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
</head>
<body id="page-about">
    <div id="container">
        <header class="page-header">
            <div class="top-bar-container">
                <a href="/src/views/index.html">
                    <img src="/public/images/icons/back.svg" alt="Voltar">
                </a>
                <h2>Weeber</h2>
            </div>

            <div class="header-content">
                <strong>Que bom que você está interessado em nossos serviços!</strong>
                <p>O primeiro passo, é ler para entender como funciona.</p>
            </div>
        </header>

        <main>
            <div class="topics-container">
                <h3>Idéia</h3>
                <p>Cobrimos atividades técnicas e trabalhos acadêmicos. Dessa forma, garantiremos que suas atividades sejam feitas e entregues no prazo te dando um tempo extra para descansar ou trabalhar em outras coisas.</p>
            </div>
            <div class="topics-container">
                <h3>Como funciona?</h3>
                <p>Para encomendar o serviço, você deve ter em mente o número de atividades e o enunciado delas, e então selecionar atividades entrando na página <a href="order.html"><strong>Encomendar</strong></a> e escolhendo a opção que deseja.
                     <br><br>
                Ao selecionar a opção, você será redirecionado ao seu aplicativo Whatsapp com nosso chat selecionado, onde poderá especificar as atividades e forma de pagamento. <small>(O prazo de entrega será informado por nós.)</small> </p>
            </div>
            <div class="topics-container">
                <h3>Matérias aceitas</h3>
                <p>Aceitamos atividades das seguintes matérias:<br>
                    <br>
                        Acadêmicas:<br>
                        - Matemática<br>
                        - Química<br>
                        - Literatura<br>
                        - Biologia<br>
                    <br>
                        Técnicas:<br>
                            Utilizamos as seguintes técnologias:<br>
                            - HTML<br>
                            - CSS<br>
                            - JavaScript<br>
                            - PHP<br>
                    <br>
                        <small>Atividades como: Faça um site básico com tema livre utilizando algo em específico (tags especificas, scripts básicos etc...) são completamente válidas.</small>
                        <br>
                        <br>
                        <small>(Qualquer atividade técnica que fuja do escopo das técnologias citadas acima será desconsiderada.)</small>
                        <br>
                        <small>(Devido ao preço das atividades, a complexidade de desenvolvimento será simples, focando apenas o front-end.)</small>
                </p>
            </div>
            <div class="topics-container">
                <h3>Pagamento</h3>
                <p>Métodos de pagamento adaptados a pandemia, aceitamos <a href="https://www.picpay.com/site"><strong>Pic Pay</strong></a> e também pagamento pessoalmente (<strong>Com juros</strong>).
                    <br><br>
                Damos preferência a pagamento on-line, onde a pessoa além de se livrar dos juros, ganha 17% de desconto no valor das atividades.
                </p>
            </div>
            <div class="topics-container">
                <h3>Juros</h3>
                <p>Aplicamos juros de 10% ao valor da atividade a cada semana atrasada, começando a contar a partir da semana seguinte em que as atividades foram solicitadas.
                    <br><br>
                Os juros são uma forma de compensar o tempo e esforço aplicados sem retorno breve.
                </p>
            </div>
            <div class="topics-container">
                <h3>Extra</h3>
                <p>Hospedagem de arquivos, linkagem com a páginas e organização de pastas. <small>(Login e senha da hospedagem necessários - R$5,00 adicionados no preço total das atividades.)</small></p>
            </div>

            <footer>
                <p>
                    <img src="/public/images/icons/warning.svg" alt="Aviso importante">
                    Importante!<br>
                    Leia antes de prosseguir.
                </p>
                <a href="order.html">Encomendar</a>
            </footer>

        </main>
    </div>
</body>
</html>