<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/styles/styles.css">
    <link rel="stylesheet" type="text/css" href="/public/styles/partials/page-landing.css">
    <title>Weeber || Sua plataforma de atividades online</title>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
</head>
<body id="page-landing">
    <div id="container">
        <div class="logo-container">
            <h1>Weeber</h1> 
            <h2>Sua plataforma de atividades online</h2>
        </div>

        <img class="tasks-image" src="/public/images/landing.svg" alt="Plataforma de estudos">

        <div class="buttons-container">
            <a class="about" href="./views/about.html">
                <img src="/public/images/icons/study.svg" alt="Como funciona?">
                Sobre

            </a>
            <a class="order" href="./views/order.html">
                <img src="/public/images/icons/give-classes.svg" alt="Order">
                Encomendar
            </a>
        </div>

        <p class="total-connections">
            Total de 15 atividades concluídas
            <img src="/public/images/icons/purple-heart.svg" alt="Coração roxo">
        </p>
    </div>
</body>
</html>