<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/styles/styles.css">
    <link rel="stylesheet" type="text/css" href="/public/styles/partials/page-order.css">
    <link rel="stylesheet" type="text/css" href="/public/styles/partials/header.css">
    <title>Weeber || Sua plataforma de atividades online</title>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
</head>
<body id="page-order">
    <div id="container">
        <header class="page-header">
            <div class="top-bar-container">
                <a href="/src/views/index.html">
                    <img src="/public/images/icons/back.svg" alt="Voltar">
                </a>
                <h2>Weeber</h2>
            </div>

            <div class="header-content">
                <strong>Ótimo! Agora vamos preparar as coisas...</strong>
                <p>Em poucos instantes, você ficará livre de suas atividades.</p>
            </div>
        </header>
        <main>
            <article class="subject-container">
                <header>
                    <div>
                        <strong>Plano inicial - Técnico</strong>
                        <span class="description">De 1 até 3 atividades</span>
                    </div>
                </header>
                <p class="description">Esse plano é ótimo para quem está tendo uma semana corrida! Fique tranquilo que cuidamos da suas atividades para você.</p>
                <footer>
                    <p>Preço:<strong>R$12,00</strog></p>
                    <a href="https://api.whatsapp.com/send?l=pt_BR&phone=5511955513279&text=Olá, tenho interesse nos seus serviços. Gostaria de utilizar o plano *inicial* e encomendar _ atividades." class="button" target="_blank">
                        <img src="/public/images/icons/whatsapp.svg"alt="Whatsapp">Entrar em contato
                    </a>
                </footer>
            </article>

            <article class="subject-container">
                <header>
                    <div>
                        <strong>Plano intermediário - Técnico</strong>
                        <span class="description">De 4 até 7 atividades</span>
                    </div>
                </header>
                <p class="description">Está com atividades atrasadas? Então esse é o plano ideal para você, neste plano cobrimos 10 de suas atividades independente se elas são antigas ou não!</p>
                <footer>
                    <p>Preço:<strong>R$20,00</strog></p>
                    <a href="https://api.whatsapp.com/send?l=pt_BR&phone=5511955513279&text=Olá, tenho interesse nos seus serviços. Gostaria de utilizar o plano *intermediário* e encomendar _ atividades." class="button" target="_blank">
                        <img src="/public/images/icons/whatsapp.svg"alt="Whatsapp">Entrar em contato
                    </a>
                </footer>
            </article>

            <article class="subject-container">
                <header>
                    <div>
                        <strong>Plano avançado - Técnico</strong>
                        <span class="description">30 dias de atividades</span>
                    </div>
                </header>
                <p class="description">Pra que se preocupar com atividades quando se tem alguém que pode se preocupar por você? Deixa com a gente!</p>
                <footer>
                    <p>Preço:<strong>R$??,??</strog></p>
                    <a href="https://api.whatsapp.com/send?l=pt_BR&phone=5511945209291&text=Olá, tenho interesse nos seus serviços. Gostaria de utilizar o plano *avançado* e encomendar _ atividades." class="button" target="_blank">
                        <img src="/public/images/icons/whatsapp.svg"alt="Whatsapp">Entrar em contato
                    </a>
                </footer>
            </article>
            <!--Academics-->
            <article class="subject-container">
                <header>
                    <div>
                        <strong>Plano inicial - Acadêmico</strong>
                        <span class="description">De 1 até 2 atividades</span>
                    </div>
                </header>
                <p class="description">Esse plano é ótimo para quem está tendo uma semana corrida! Fique tranquilo que cuidamos da suas atividades para você.</p>
                <footer>
                    <p>Preço:<strong>R$20,00</strog></p>
                    <a href="https://api.whatsapp.com/send?l=pt_BR&phone=5511955513279&text=Olá, tenho interesse nos seus serviços. Gostaria de utilizar o plano *inicial* e encomendar _ atividades." class="button" target="_blank">
                        <img src="/public/images/icons/whatsapp.svg"alt="Whatsapp">Entrar em contato
                    </a>
                </footer>
            </article>

            <article class="subject-container">
                <header>
                    <div>
                        <strong>Plano intermediário - Acadêmico</strong>
                        <span class="description">De 3 até 5 atividades</span>
                    </div>
                </header>
                <p class="description">Está com atividades atrasadas? Então esse é o plano ideal para você, neste plano cobrimos 10 de suas atividades independente se elas são antigas ou não!</p>
                <footer>
                    <p>Preço:<strong>R$32,00</strog></p>
                    <a href="https://api.whatsapp.com/send?l=pt_BR&phone=5511955513279&text=Olá, tenho interesse nos seus serviços. Gostaria de utilizar o plano *intermediário* e encomendar _ atividades." class="button" target="_blank">
                        <img src="/public/images/icons/whatsapp.svg"alt="Whatsapp">Entrar em contato
                    </a>
                </footer>
            </article>
         
            <article class="subject-container">
                <header>
                    <div>
                        <strong>Plano avançado - Acadêmico</strong>
                        <span class="description">30 dias de atividades</span>
                    </div>
                </header>
                <p class="description">Pra que se preocupar com atividades quando se tem alguém que pode se preocupar por você? Deixa com a gente!</p>
                <footer>
                    <p>Preço:<strong>R$??,??</strog></p>
                    <a href="https://api.whatsapp.com/send?l=pt_BR&phone=5511945209291&text=Olá, tenho interesse nos seus serviços. Gostaria de utilizar o plano *avançado* e encomendar _ atividades." class="button" target="_blank">
                        <img src="/public/images/icons/whatsapp.svg"alt="Whatsapp">Entrar em contato
                    </a>
                </footer>
            </article>
        </main>
    </div>
</body>
</html>